body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

/* Toolbar Styling */
.toolbar .btn.btn-primary {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: none !important;
  border: solid 1px #ddd;
  margin: 2px;
  background: white;
  color: black;
  text-shadow: none;
}

.toolbar .btn.btn-primary.active {
  background-color: #286090;
  border: none;
  color: white;
}

.toolbar .btn span.glyphicon {
  vertical-align: middle;
}
/* Puzzle info */
.puzzle-info input.form-control {
  border: none;
  border-bottom: 1px transparent solid;
  box-shadow: none;
  font-size: 1.5em;
  font-variant: small-caps;
  margin-right: 1em;
  transition-property: none;
  width: inherit;
  padding: 0px;
  color: black;
}

.puzzle-info .form-control:focus {
  box-shadow: none;
  //border-bottom: 1px #777777 solid;
  border-radius: 0px;
}

.puzzle-info .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #777777;
  font-style: italic;
}

.puzzle-info .small {
  margin-top: -3px;
}

.puzzle-info small .form-control {
  padding-left: 0.5em;
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 3px;
}

.puzzle-info small label {
  margin-bottom: 1px;
  font-size: 1.2em;
  line-height: 1em;
  height: 34px;
  font-variant: small-caps;
}

hr {
  margin: 1px;
  border-color: black;
  width: 90%;
}

/* Puzzle area styling */

.row.puzzle {
  padding: 1em 0em 0em 0em;
}

/* Grid styling */

.table-responsive {
  overflow-x: auto;
  margin-left: 0em;
  margin-top: 1em;
}

table.table {
  border: 1px black solid;
  page-break-inside: avoid;
  width: 90%;
}

table.table > tbody > tr > td.square {
  width: 6.67%;
  position: relative;
  border: 1px black solid;
}

table.table > tbody > tr > td.square:after {
  content: '';
  display: block;
  margin-top: 100%;
}

table.table > tbody > tr > td.square .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

table.table > tbody > tr > td.square input {
  cursor: default;
  display: block;
  position: inherit;
  height: 100%;
  width: 100%;
  border: none;
}

span.clueNum {
  width: 25%;
  height:25%;
  position: absolute;
  top: 1px;
  left: 2px;
  z-index: 3;
}

.black {
  background-color: black !important;
}

/* Clue styling */
h3.clue-header {
  padding-left: 3em;
  font-weight: bolder;
  font-variant: small-caps;
}

#down, #across {
  padding: 0px;
}

ol.clue-list {
  padding-left: 0px;
}

li.clue {
  list-style: none;

}

li.clue .input-group-addon {
  border-radius: 0px;
  background: transparent;
  border: 0px;
  width: 4em;
  font-size: 0.9em;
  font-weight: bolder;
  vertical-align: top;
  padding: 0px;
  padding-top: 3px;
  width: 2em;
}

li.clue .input-group {
  width: 100%;
}

li.clue .form-control {
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

/* Grid highlighting */

.highlight:not(.black) {
  background: rgba(100,149,237,0.8) !important;
}

.weak-highlight:not(.black) {
  background: rgba(100,149,237,0.3) !important;
}
